<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymer/lib/utils/gestures.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../behaviors/behavior-fire-events.html">

<dom-module id="fallback-playlist">
    <template>
        <style>
            :host {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
            }

            :host([active]) {
                background: rgba(255, 255, 255, .15);
            }

            :host(:hover) {
                background: rgba(255, 255, 255, .2);
            }

            h4 {
                font-weight: normal;
                margin: 0 20px 0 12px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            h4 + paper-icon-button {
                margin-left: auto;
            }

            paper-icon-button {
                flex-shrink: 0;
            }
        </style>

        <paper-ripple id="ripple"></paper-ripple>

        <h4>[[playlist.name]]</h4>
        <paper-icon-button icon="av:shuffle"
                           on-tap="_insertShuffled"
                           title="Insert shuffled">
        </paper-icon-button>
        <paper-icon-button icon="icons:add"
                           on-tap="_insert"
                           title="Insert">
        </paper-icon-button>
    </template>
</dom-module>

<script>
    class FallbackPlaylist extends Festify.FireBehavior(
        Polymer.GestureEventListeners(Polymer.Element)
    ) {
        static get is() {
            return 'fallback-playlist';
        }

        static get properties() {
            return {
                active: {
                    type: Boolean,
                    reflectToAttribute: true
                },
                playlist: {
                    type: Object
                },
                _tapHandler: {
                    type: Function
                }
            };
        }

        ready() {
            super.ready();

            this._tapHandler = ev => this._insert(ev);
            this.addEventListener('tap', this._tapHandler);
        }

        detached() {
            super.detached();

            this.removeEventListener('tap', this._tapHandler);
            this._tapHandler = null;
        }

        _insert(ev) {
            if (ev) {
                ev.stopPropagation();
            }
            this.fire('fallbackPlaylist-set', {
                playlist: this.playlist,
                shuffle: false
            });
        }

        _insertShuffled(ev) {
            if (ev) {
                ev.stopPropagation();
            }
            this.fire('fallbackPlaylist-set', {
                playlist: this.playlist,
                shuffle: true
            });
        }
    }

    customElements.define(FallbackPlaylist.is, FallbackPlaylist);
</script>
