<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../common/shared-styles.html">

<dom-module id="festify-spinner">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                display: none;
            }

            :host([active]) {
                display: flex;
                flex-direction: row;
                justify-content: center;

                padding-top: 40px;
                padding-bottom: 40px;
            }
        </style>

        <paper-spinner-lite active="[[active]]" alt="[[alt]]"></paper-spinner-lite>
    </template>
</dom-module>

<script>
    class FestifySpinner extends Polymer.Element {
        static get is() {
            return 'festify-spinner';
        }

        static get properties() {
            return {
                active: {
                    type: Boolean,
                    reflectToAttribute: true
                },
                alt: {
                    type: String
                }
            };
        }
    }

    customElements.define(FestifySpinner.is, FestifySpinner);
</script>
