<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../common/behavior-app-state.html">
<link rel="import" href="../../common/behavior-firebase-paths.html">
<link rel="import" href="../../common/shared-styles.html">
<link rel="import" href="../../utils/lodash.html">
<link rel="import" href="size-aware-image.html">

<dom-module id="festify-track">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                box-sizing: content-box;
                padding: 5px 16px;

                display: flex;
                align-items: center;
                flex-direction: row;
            }

            .metadata-wrapper {
                margin-top: 2px;
                overflow: hidden;
            }

            :host([playing]) .metadata-wrapper {
                margin-right: 20px;
            }

            size-aware-image {
                background: rgba(0, 0, 0, 0.2);
                flex-shrink: 0;
                height: 54px;
                margin-right: 15px;
                width: 54px;
            }

            h2 {
                margin: 0;
                font-weight: lighter;
                font-size: 15px;
                line-height: 20px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            aside {
                margin: 2px 0;
                font-weight: 300;
                font-size: 13px;
                line-height: 20px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .icon-wrapper {
                margin-left: auto;
                flex-basis: 40px;
            }

            paper-fab {
                color: white;
                background-color: var(--primary-color);
            }

            paper-icon-button {
                margin-left: 5px;
                padding: 6px;
            }
        </style>

        <size-aware-image sorted-sizes="[[_getCoverImage(metadata.*, track)]]"></size-aware-image>
        <div class="metadata-wrapper">
            <h2>[[_getTrackName(metadata.*, track)]]</h2>
            <aside>
                <a>[[_getArtistName(metadata.*, track)]]</a>
                <span>&middot;</span>
                <span>[[_getVoteString(track.*)]]</span>
            </aside>
        </div>

        <div class="icon-wrapper">
            <template is="dom-if" if="[[!playing]]">
                <paper-icon-button icon="[[_getLikeButtonIcon(track, _hasVoted)]]"
                                   on-tap="_tapLikeIcon">
                </paper-icon-button>
            </template>
            <template is="dom-if" if="[[playing]]">
                <paper-fab mini
                           icon="[[_getPlayPauseButtonIcon(state.party.playback.playing)]]"
                           on-tap="_tapPlayPauseBtn">
                </paper-fab>
            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: 'festify-track',

            behaviors: [
                FestifyBehaviors.FirebasePathsBehavior,
                FestifyBehaviors.StateBehavior
            ],

            properties: {
                metadata: {
                    type: Object
                },
                playing: {
                    type: Boolean,
                    reflectToAttribute: true,
                    value: false,
                    computed: '_getIsPlaying(state.*, track)'
                },
                track: {
                    type: Object
                },
                userVotes: {
                    type: Object
                },
                _hasVoted: {
                    type: Boolean,
                    computed: '_getHasVoted(userVotes.*, track.*)'
                }
            },

            _getArtistName: function (metaChange, track) {
                return _.get(metaChange.base, [track.reference.provider, track.reference.id, 'artistName']);
            },

            _getCoverImage: function (metaChange, track) {
                return _.get(metaChange.base, [track.reference.provider, track.reference.id, 'cover']);
            },

            _getHasVoted: function (votesChange, trackChange) {
                if (!votesChange.base || !trackChange.base) {
                    return;
                }
                return votesChange.base[this._generateFbId(trackChange.base)] === true;
            },

            _getIsPlaying: function (stateChange, t) {
                return this.get('base.currentTrack', stateChange) == t;
            },

            _getLikeButtonIcon: function (track, hasVoted) {
                return hasVoted === true ? // We get an empty object from firebase once the vote is deleted
                    'favorite' :
                    track.vote_count > 0 || track.is_fallback ?
                        'favorite-border' :
                        'add';
            },

            _getPlayPauseButtonIcon: function (isPlaying) {
                return isPlaying ? 'av:pause' : 'av:play-arrow';
            },

            _getTrackName: function (metaChange, track) {
                return _.get(metaChange.base, [track.reference.provider, track.reference.id, 'name']);
            },

            _getVoteString: function (trackChange) {
                const track = trackChange.base;
                return (track.vote_count > 1) ?
                    track.vote_count + ' Votes' :
                    (track.vote_count == 1) ?
                        'One Vote' :
                        track.isFromSearch ?
                            'Not in queue' :
                            'Fallback Track';
            },

            _tapLikeIcon: function () {
                this.fire('track-toggleVote', { track: this.track });
            },

            _tapPlayPauseBtn: function () {
                const state = this.state;
                if (state && state.isHost) {
                    this.fire('track-togglePlayPause');
                }
            }
        });
    </script>
</dom-module>
