<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="playback-progress-bar">
    <template>
        <style>
            :host {
                display: block;
                height: 1px;
                position: relative;
                width: 100%;
            }

            div {
                background: white;
                height: 100%;
                width: 100%;
                transform-origin: left;
            }
        </style>

        <div id="indicator"></div>
    </template>
</dom-module>

<script>
    class PlaybackProgressBar extends Polymer.Element {
        static get is() {
            return 'playback-progress-bar';
        }

        static get properties() {
            return {
                duration: {
                    type: Number
                },
                playback: {
                    type: Object
                }
            };
        }

        static get observers() {
            return [
                '_updateIndicator(playback.*, duration)'
            ];
        }

        _transitionTo(percentage, durationMs, isPlaying) {
            const value = 'opacity 0.25s ease, transform ' + durationMs + 'ms linear';
            /** @type CSSStyleDeclaration */
            const style = this.$.indicator.style;

            style.oTransition = value;
            style.mozTransition = value;
            style.webkitTransition = value;
            style.transition = value;

            style.opacity = isPlaying ? 1 : 0.5;
            style.transform = `scaleX(${percentage / 100})`;
        }

        _updateIndicator(ch, durationMs) {
            if (durationMs <= 0) {
                return;
            }

            const playbackData = this.get('base', ch);
            if (!playbackData || typeof playbackData.last_change !== 'number') {
                return;
            }

            let currentPercentage = playbackData.last_position_ms / durationMs;
            if (playbackData.playing) {
                const timeDiff = Date.now() - playbackData.last_change;
                currentPercentage += (timeDiff / durationMs);
            }

            window.requestAnimationFrame(() => {
                this._transitionTo(currentPercentage * 100, 0, playbackData.playing);

                if (playbackData.playing) {
                    // Give the compositor a chance to reset the transitions
                    // before we start the actual animation.
                    window.requestAnimationFrame(() => {
                        const remainingDurationMs = durationMs * (1 - currentPercentage);
                        this._transitionTo(100, remainingDurationMs, playbackData.playing);
                    });
                }
            });
        }
    }

    customElements.define(PlaybackProgressBar.is, PlaybackProgressBar);
</script>
