<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="size-aware-image">
    <template>
        <style>
            div {
                background-size: cover;
                background-position: center;
                height: 100%;
                width: 100%;

                @apply(--size-aware-image-container);
            }
        </style>
        <div id="container" style$="background-image: url([[_getImage(sortedSizes)]])"></div>
    </template>
    <script>
        Polymer({
            is: 'size-aware-image',

            properties: {
                sortedSizes: {
                    type: Array
                }
            },

            _getImage: function (sizes) {
                if (!sizes || sizes.length < 1) {
                    return;
                }

                const requiredHeight = this.getBoundingClientRect().height * (window.devicePixelRatio || 1);
                let currentImage;
                for (let i = sizes.length - 1; i >= 0; i--) {
                    if (sizes[i].height >= requiredHeight) {
                        currentImage = sizes[i];
                    } else {
                        break;
                    }
                }
                return currentImage.url;
            }
        });
    </script>
</dom-module>
