<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../common/shared-styles.html">
<link rel="import" href="size-aware-image.html">

<dom-module id="tv-track">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                --max-width: 204px;
                min-width: var(--max-width);
                max-width: var(--max-width);
                display: block;
            }

            .cover {
                position: relative;
                display: flex;
                align-content: center;
                justify-content: center;
                width: var(--max-width);
                height: var(--max-width);
                box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.5);
            }

            size-aware-image {
                width: 100%;
                height: 100%;
                position: absolute;
            }

            .overlay {
                position: absolute;
                z-index: 2;
                top: 0; bottom: 0;
                left: 0; right: 0;
                background: rgba(0, 0, 0, 0.6)
            }

            h2 {
                z-index: 3;
                font-size: 5.556vh;
                margin: auto;
                text-shadow: 0 0 8px #000;
            }

            h3 {
                font-size: 1.852vh;
                font-weight: normal;
                margin: 10px 0 0;
            }

            h4 {
                font-size: 1.111vh;
                font-weight: 100;
                margin: 0;
            }

            h2, h3, h4 {
                color: #fff;
            }

            h3, h4 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 100%;
            }
        </style>

        <div class="cover">
            <size-aware-image sorted-sizes="[[_getCoverImage(metadata.*, track)]]"></size-aware-image>
            <div class="overlay"></div>
            <h2>[[track.vote_count]]</h2>
        </div>
        <h3>[[_getTrackName(metadata.*, track)]]</h3>
        <h4>[[_getArtistName(metadata.*, track)]]</h4>
    </template>
</dom-module>

<script>
    class TvTrack extends Polymer.Element {
        static get is() {
            return 'tv-track';
        }

        static get properties() {
            return {
                metadata: {
                    type: Object
                },
                track: {
                    type: Object
                },
                userVotes: {
                    type: Object
                }
            };
        }

        _getArtistName(metaChange, track) {
            return this.get([track.reference.provider, track.reference.id, 'artistName'], metaChange.base);
        }

        _getTrackName(metaChange, track) {
            return this.get([track.reference.provider, track.reference.id, 'name'], metaChange.base);
        }

        _getCoverImage(metaChange, track) {
            return this.get([track.reference.provider, track.reference.id, 'cover'], metaChange.base);
        }
    }

    customElements.define(TvTrack.is, TvTrack);
</script>
