{
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "browsers": "> 1%, last 2 versions, Firefox ESR, not dead"
            }
        }]
    ],
    "plugins": [
        "syntax-dynamic-import"
    ]
}
