# Package Managers
node_modules/
npm-debug.log
package-lock.json # we use yarn
.rpt2_cache

# Build Output
.tmp/
build/
build-mobile/
dist/
.env*
/images/manifest/*.png

# Firebase Functions specifically want a functions/index.js file
# Thus, we cannot let TS output the build sources into a dist/ or
# build/ folder which we could ignore as a whole.
functions/**/*.js
functions/**/*.js.map

# Config
fanart.config.js
firebase.config.js
database.rules.json
firebase-debug.log
GoogleService-Info.plist
google-services.json
spotify.config.js
service-account.json

# IDE
.idea/
.vscode/

.DS_Store
