# Package Managers
bower_components/
node_modules/
npm-debug.log
package-lock.json

# Cordova and Electron stuff
plugins/
platforms/
res/
www/
!www/.gitkeep

# Build Output
.tmp/
build/
build-mobile/
dist/
.env*
/images/manifest/*.png

# Firebase
database.rules.json
firebase-debug.log
GoogleService-Info.plist
google-services.json

# IDE
.idea/
