bower_components/
node_modules/
.idea/
npm-debug.log

# Cordova stuff
plugins/
platforms/
res/
www/*
!www/.gitkeep

.tmp/
build/
.env
/images/manifest/*.png

# Firebase
.firebaserc
database.rules.json
firebase-debug.log
