<?xml version='1.0' encoding='utf-8'?>
<widget id="rocks.festify.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Festify</name>
    <description>
        Get your party started!
    </description>
    <author email="mail@getfestify.de" href="https://festify.rocks">
        Festify
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="mailto:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="www/images/manifest/icon-full-180.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="www/images/manifest/icon-full-60.png" width="60" height="60" />
        <icon src="www/images/manifest/icon-full-120.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="www/images/manifest/icon-full-76.png" width="76" height="76" />
        <icon src="www/images/manifest/icon-full-152.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="www/images/manifest/icon-full-40.png" width="40" height="40" />
        <icon src="www/images/manifest/icon-full-80.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="www/images/manifest/icon-full-57.png" width="57" height="57" />
        <icon src="www/images/manifest/icon-full-114.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="www/images/manifest/icon-full-72.png" width="72" height="72" />
        <icon src="www/images/manifest/icon-full-144.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="www/images/manifest/icon-full-29.png" width="29" height="29" />
        <icon src="www/images/manifest/icon-full-58.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="www/images/manifest/icon-full-50.png" width="50" height="50" />
        <icon src="www/images/manifest/icon-full-100.png" width="100" height="100" />
    </platform>
    <plugin name="de.fhg.fokus.famium.presentation" spec="https://github.com/fraunhoferfokus/cordova-plugin-presentation.git" />
    <plugin name="com.peerio.cordova.plugin.insomnia" spec="~4.2.0" />
    <engine name="ios" spec="~4.3.0" />
    <engine name="android" spec="~6.0.0" />
</widget>
