<?xml version='1.0' encoding='utf-8'?>
<widget id="rocks.festify.app" version="0.2.10" xmlns="http://www.w3.org/ns/widgets">
    <name>Festify</name>
    <description>
        Get your party started!
    </description>
    <author email="mail@getfestify.de" href="https://festify.rocks">
        Festify
    </author>
    <content src="app.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="mailto:*" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="29" src="www/images/manifest/icon-full-29.png" width="29" />
        <icon height="40" src="www/images/manifest/icon-full-40.png" width="40" />
        <icon height="50" src="www/images/manifest/icon-full-50.png" width="50" />
        <icon height="57" src="www/images/manifest/icon-full-57.png" width="57" />
        <icon height="58" src="www/images/manifest/icon-full-58.png" width="58" />
        <icon height="60" src="www/images/manifest/icon-full-60.png" width="60" />
        <icon height="72" src="www/images/manifest/icon-full-72.png" width="72" />
        <icon height="76" src="www/images/manifest/icon-full-76.png" width="76" />
        <icon height="80" src="www/images/manifest/icon-full-80.png" width="80" />
        <icon height="100" src="www/images/manifest/icon-full-100.png" width="100" />
        <icon height="114" src="www/images/manifest/icon-full-114.png" width="114" />
        <icon height="120" src="www/images/manifest/icon-full-120.png" width="120" />
        <icon height="144" src="www/images/manifest/icon-full-144.png" width="144" />
        <icon height="152" src="www/images/manifest/icon-full-152.png" width="152" />
        <icon height="180" src="www/images/manifest/icon-full-180.png" width="180" />
        <splash src="www/images/manifest/Default@2x~universal~anyany.png" />
        <splash src="www/images/manifest/Default@3x~universal~anyany.png" />
    </platform>
    <platform name="android">
        <allow-intent href="market:*" />
        <icon qualifier="ldpi" src="www/images/manifest/icon-36.png" width="36" />
        <icon qualifier="mdpi" src="www/images/manifest/icon-48.png" width="48" />
        <icon qualifier="hdpi" src="www/images/manifest/icon-72.png" width="72" />
        <icon qualifier="xhdpi" src="www/images/manifest/icon-96.png" width="96" />
        <icon qualifier="xxhdpi" src="www/images/manifest/icon-144.png" width="144" />
        <icon qualifier="xxxhdpi" src="www/images/manifest/icon-192.png" width="192" />
        <splash density="port-ldpi" src="www/images/manifest/splash-ldpi.png" />
        <splash density="port-mdpi" src="www/images/manifest/splash-mdpi.png" />
        <splash density="port-hdpi" src="www/images/manifest/splash-hdpi.png" />
        <splash density="port-xhdpi" src="www/images/manifest/splash-xhdpi.png" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="false" />
    <preference name="BackgroundColor" value="0xff1c1f24" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#1c1f24" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreen" value="screen" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="FadeSplashScreenDuration" value="250" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <hook src="scripts/cordova-prepare-nofetch.js" type="before_prepare" />
    <hook src="scripts/fix-package-indent.js" type="after_prepare" />
    <engine name="android" spec="^6.2.3" />
    <engine name="ios" spec="^4.4.0" />
    <plugin name="com.peerio.cordova.plugin.insomnia" spec="^4.2.1" />
    <plugin name="cordova-plugin-firebase" spec="^0.1.24" />
    <plugin name="cordova-plugin-ios-non-exempt-encryption" spec="^1.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^5.2.0" />
    <plugin name="cordova-spotify" spec="^0.5.2" />
    <plugin name="cordova-spotify-oauth" spec="^0.1.4" />
    <plugin name="rocks.festify.cordova-external-screen">
        <variable name="spec" value="https://github.com/Festify/cordova-external-screen" />
    </plugin>
    <plugin name="rocks.festify.cordova-scheme-helper">
        <variable name="spec" value="https://github.com/Festify/festify-cordova-scheme-helper" />
    </plugin>
</widget>
