<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/legacy/class.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/debounce.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../common/shared-styles.html">
<link rel="import" href="../providers/provider-metadata.html">
<link rel="import" href="../providers/provider-tracks.html">
<link rel="import" href="components/playback-progress-bar.html">
<link rel="import" href="components/size-aware-image.html">
<link rel="import" href="components/tv-track.html">

<dom-module id="view-tv">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                position: absolute;
                top: 0; left: 0;
                bottom: 0; right: 0;
                overflow: hidden;

                font-size: 5.278vh;
            }

            .upper, .lower {
                font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
                display: flex;
                z-index: 1;
            }

            .upper {
                flex-direction:column;
                justify-content: center;
                padding: 0 8.334vh;
                overflow: hidden;
                flex-grow: 1;
                width: 100%;
            }

            .lower {
                flex-direction: row;
                height: 29.26vh;
            }

            tv-track {
                --max-width: 18.889vh;
                margin-right: 4.815vh;
            }

            .playing-track {
                display: flex;
                align-items: center;
                z-index: 1;
            }

            .playing-track size-aware-image {
                margin-right: 8.334vh;
                height: 49vh;
                width: 49vh;
                box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.5);
            }

            .background {
                position: absolute;
                left: -3.704vh;
                top: -3.704vh;
                right: -3.704vh;
                bottom: -3.704vh;
                filter: blur(50px);
                opacity: 0.3;
            }

            playback-progress-bar {
                margin: 4.167vh 0;
                height: 0.556vh;
                background: rgba(255, 255, 255, 0.2);
            }

            h2, h3, h4, h5 {
                margin: 0;
                opacity: 0.9;
            }

            h2 {
                font-size: 5.278vh;
                font-weight: normal;
                line-height: 7.407vh;
            }

            h3 {
                font-size: 5.278vh;
                font-weight: 100;
                line-height: 7.407vh;
            }

            h4 {
                font-size: 4.444vh;
                font-weight: normal;
                line-height: 5.185vh;
                margin-bottom: 0.741vh;
            }

            h5 {
                font-size: 4.444vh;
                font-weight: 100;
                line-height: 5.185vh;
            }

            .metadata {
                flex-grow: 1;
            }

            .lower {
                padding-left: 8.334vh;
            }
        </style>

        <provider-tracks limit="[[_tracksShown]]"
                         state="{{state}}"
                         tracks="{{tracks}}">
        </provider-tracks>
        <provider-metadata data="{{meta}}"
                           tracks="[[tracks]]"
                           state="[[state]]">
        </provider-metadata>

        <size-aware-image class="background"
                          sorted-sizes="[[_getCurrentTrackCover(state.*, meta.*)]]">
        </size-aware-image>

        <div class="upper">
            <div class="playing-track">
                <size-aware-image sorted-sizes="[[_getCurrentTrackCover(state.*, meta.*)]]"></size-aware-image>

                <div class="metadata">
                    <h2>[[_getCurrentTrackName(state.*, meta.*)]]</h2>
                    <h3>[[_getCurrentTrackArtist(state.*, meta.*)]]</h3>

                    <playback-progress-bar duration="[[_getCurrentTrackDuration(state.*, meta.*)]]"
                                           playback="[[state.party.playback]]">
                    </playback-progress-bar>

                    <h4>Go to [[state.config.meta.domain]] and vote!</h4>
                    <h5>[[state.party.short_id]]</h5>
                </div>
            </div>
        </div>
        <div class="lower">
            <template is="dom-repeat" items="[[_getVisibleTracks(tracks.*)]]">
                <tv-track metadata="[[meta]]"
                          state="[[state]]"
                          track="[[item]]">
                </tv-track>
            </template>
        </div>
    </template>
</dom-module>

<script>
    class TvView extends Polymer.mixinBehaviors([Polymer.IronResizableBehavior], Polymer.Element) {
        static get is() {
            return 'view-tv';
        }

        static get properties() {
            return {
                meta: {
                    type: Object
                },
                state: {
                    type: Object,
                    notify: true
                },
                tracks: {
                    type: Array
                },
                _resizeDebouncer: {
                    type: Polymer.Debouncer,
                    value: () => new Polymer.Debouncer()
                },
                _resizeListener: {
                    type: Function
                },
                _tracksShown: {
                    type: Number,
                    value: 15
                }
            };
        }

        connectedCallback() {
            super.connectedCallback();

            this._resizeListener = () => this._resize();
            this.addEventListener('iron-resize', this._resizeListener);
        }

        disconnectedCallback() {
            super.disconnectedCallback();

            this.removeEventListener('iron-resize', this._resizeListener);
            this._resizeListener = null;
        }

        _getCurrentTrackArtist(stateChange, metaChange) {
            return this._getCurrentTrackMeta(stateChange, metaChange, 'artistName');
        }

        _getCurrentTrackCover(stateChange, metaChange) {
            return this._getCurrentTrackMeta(stateChange, metaChange, 'cover');
        }

        _getCurrentTrackDuration(stateChange, metaChange) {
            return this._getCurrentTrackMeta(stateChange, metaChange, 'durationMs', 0);
        }

        _getCurrentTrackName(stateChange, metaChange) {
            return this._getCurrentTrackMeta(stateChange, metaChange, 'name');
        }

        _getCurrentTrackMeta(stateChange, metaChange, key, fallback) {
            const provId = this.get('base.currentTrack.reference.provider', stateChange);
            const trackId = this.get('base.currentTrack.reference.id', stateChange);
            return (provId && provId.length > 0 && trackId && trackId.length > 0) ?
                this.get([provId, trackId, key], metaChange.base) :
                fallback;
        }

        _getVisibleTracks(tracks) {
            return tracks.base.slice(1);
        }

        _resize() {
            Polymer.Debouncer.debounce(this._resizeDebouncer, Polymer.Async.timeOut.after(100), () => {
                const track = this.shadowRoot.querySelector('tv-track');
                if (track) {
                    const width = track.getBoundingClientRect().width;
                    this._tracksShown = Math.ceil(window.outerWidth / width);
                }
            });
        }
    }

    customElements.define(TvView.is, TvView);
</script>
