<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../behaviors/behavior-fire-events.html">
<link rel="import" href="../common/shared-styles.html">
<link rel="import" href="view-home.html">

<dom-module id="view-host">
    <template>
        <style include="shared-styles"></style>
        <style>
            paper-button {
                margin-bottom: 20px;
            }

            paper-button:last-child {
                margin-bottom: 0;
            }
        </style>

        <view-home>
            <paper-button raised on-tap="_tapCreateParty">Create a new Party</paper-button>
            <paper-button raised on-tap="_tapJoinParty">Join a Party</paper-button>
            <paper-button raised on-tap="_tapPreviousParties" hidden>Previous Parties</paper-button>
        </view-home>
    </template>
</dom-module>

<script>
    class HostView extends Festify.Fire(Polymer.Element) {
        static get is() {
            return 'view-host';
        }

        static get properties() {
            return {
                route: {
                    type: Object,
                    notify: true
                }
            };
        }

        _tapCreateParty() {
            this.fire('host-createNewParty');
        }

        _tapJoinParty() {
            this.set('route.path', '/join');
        }

        _tapPreviousParties() {
            this.set('route.path', '/previous');
        }
    }

    customElements.define(HostView.is, HostView);
</script>
