<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../common/shared-styles.html">

<dom-module id="view-share">
    <template>
        <style include="shared-styles"></style>

        <style>
            :host {
                display: block;
                padding: 10px 20px;
            }

            .description {
                font-size: 20px;
            }

            .description .domain {
                text-decoration: underline;
                white-space: nowrap;
            }

            .copy, .code {
                text-align: center;
            }

            .code {
                font-size: 35px;
            }

            paper-button {
                display: inline-block;
            }
        </style>

        <p class="description">
            Add new songs to the queue by searching for them or ask your guests to go to
            <span class="domain">[[state.config.meta.domain]]</span>
            and enter this code:
        </p>
        <p class="code">[[state.party.short_id]]</p>
        <template is="dom-if" if="[[state.isHost]]">
            <p class="copy">
                <paper-button raised on-tap="_copyUrl">
                    <iron-icon icon="content-copy"></iron-icon> Share link
                </paper-button>
            </p>
        </template>
    </template>
</dom-module>

<script>
    class ShareView extends Polymer.Element {
        static get is() {
            return 'view-share';
        }

        static get properties() {
            return {
                state: {
                    type: Object,
                    notify: true
                }
            };
        }

        _getPartyUrl(partyId) {
            const domain = this.get('state.config.meta.domain');

            if (!partyId) {
                return `https://${domain}/`
            }

            return `https://${domain}/party/${partyId}`;
        }

        _copyUrl() {
            const url = this._getPartyUrl(this.state.partyId);
            const shareFn = this.get('plugins.socialsharing.share', window);

            if (typeof shareFn === 'function') {
                shareFn('Join my party!', null, null, url);
            } else if (window.require) {
                const { shell } = require('electron');
                shell.openExternal(url);
            }
        }
    }

    customElements.define(ShareView.is, ShareView);
</script>
