<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/legacy/class.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../behaviors/behavior-app-state.html">
<link rel="import" href="../behaviors/behavior-fire-events.html">
<link rel="import" href="../common/shared-styles.html">
<link rel="import" href="view-home.html">

<dom-module id="view-join">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host > * {
                --paper-input-container-input: {
                    font-size: 24px;
                }

                --paper-input-container-label: {
                    font-size: 20px;
                }
            }

            paper-input {
                margin-bottom: 20px;
            }

            paper-icon-button {
                position: absolute;
                top: 20px;
                left: 15px;
                width: 50px;
                height: 50px;
            }
        </style>

        <view-home>
            <!-- Navigation for Cordova Builds -->
            <template is="dom-if" if="[[state.isHost]]">
                <paper-icon-button icon="arrow-back" on-tap="_tapBack"></paper-icon-button>
            </template>

            <paper-input label="Party ID"
                         value="{{joinInput}}"
                         type="tel"
                         auto-validate="true"
                         allowed-pattern="[0-9]+"
                         required="true"
                         invalid="{{inputInvalid}}">
            </paper-input>
            <paper-button raised
                          disabled="[[inputInvalid]]"
                          on-tap="_tapJoinParty">
                Join Party
            </paper-button>
        </view-home>
    </template>
</dom-module>

<script>
    class JoinView extends FestifyBehaviors.Fire(Polymer.mixinBehaviors(
        [FestifyBehaviors.StateBehavior],
        Polymer.Element
    )) {
        static get is() {
            return 'view-join';
        }

        static get properties() {
            return {
                inputInvalid: {
                    type: Boolean,
                    value: true
                },
                joinInput: {
                    type: String
                },
                route: {
                    type: Object,
                    notify: true
                }
            };
        }

        ready() {
            super.ready();

            this.addEventListener('keypress', ev => this._keypress(ev));
        }

        _keypress(ev) {
            if (ev.which === 13) {
                this._tapJoinParty();
            }
        }

        _tapBack() {
            this.set('route.path', '/host');
        }

        _tapJoinParty() {
            if (!this.inputInvalid) {
                this.fire('join-openParty', { shortId: this.joinInput });
            }
        }
    }

    customElements.define(JoinView.is, JoinView);
</script>
