<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../common/behavior-app-state.html">
<link rel="import" href="../common/shared-styles.html">
<link rel="import" href="../providers/provider-metadata.html">
<link rel="import" href="../providers/provider-tracks.html">
<link rel="import" href="../providers/provider-votes.html">
<link rel="import" href="view-track.html">

<dom-module id="view-party">
    <template>
        <style include="shared-styles"></style>
        <style>
            app-header {
                color: #fff;
                background-color: var(--app-primary-color);
            }

            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            paper-input {
                padding: 0 10px;
            }

            view-track[hidden] {
                display: none;
            }
        </style>

        <provider-metadata data="{{meta}}" tracks="[[tracks]]"></provider-metadata>
        <provider-tracks id="trackProvider"
                         tracks="{{tracks}}"
                         search-query="[[searchQuery]]"
                         state="[[state]]">
        </provider-tracks>
        <provider-votes id="voteProvider" state="[[state]]"></provider-votes>

        <template is="dom-if" if="[[active]]">
            <app-drawer-layout fullbleed>
                <app-drawer>
                    <app-toolbar>Menu</app-toolbar>
                    <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                    </iron-selector>
                </app-drawer>

                <app-header fixed>
                    <app-toolbar>
                        <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
                        <div main-title>[[state.party.name]]</div>
                    </app-toolbar>
                </app-header>

                <div>
                    <paper-input value="{{searchQuery}}" label="Add Tracks"></paper-input>
                    <iron-list items="[[tracks]]">
                        <template>
                            <view-track metadata="[[meta]]" state="[[state]]" track="[[item]]"></view-track>
                        </template>
                    </iron-list>
                </div>
            </app-drawer-layout>
        </template>
    </template>
    <script>
        Polymer({
            is: 'view-party',

            behaviors: [FestifyBehaviors.StateBehavior],

            properties: {
                active: {
                    type: Boolean
                },
                route: {
                    type: Object,
                    notify: true
                }
            },

            listeners: {
                'track-toggleVote': '_voteForTrack'
            },

            _voteForTrack: function (ev) {
                this.$.voteProvider.toggleVote(ev.detail.track);
            }
        });
    </script>
</dom-module>
