<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/legacy/class.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../behaviors/behavior-app-state.html">
<link rel="import" href="view-party.html">
<link rel="import" href="view-tv.html">

<dom-module id="view-queue">
    <template>
        <app-route route="{{route}}"
                   pattern="/:partyId"
                   data="{{_partyRouteData}}"
                   tail="{{subroute}}"
                   query-params="{{queryParams}}">
        </app-route>
        <app-route route="{{subroute}}"
                   pattern="/:mode"
                   data="{{_modeRouteData}}">
        </app-route>

        <iron-pages selected="[[_modeRouteData.mode]]"
                    attr-for-selected="view"
                    fallback-selection="party">
            <view-party view="party"
                        state="{{state}}"
                        search-query="{{_searchQuery}}"
                        route="{{subroute}}"></view-party>
            <view-tv view="tv" state="{{state}}"></view-tv>
        </iron-pages>
    </template>
</dom-module>

<script>
    class QueueView extends Polymer.mixinBehaviors(
        [FestifyBehaviors.StateBehavior],
        Polymer.Element
    ) {
        static get is() {
            return 'view-queue';
        }

        static get properties() {
            return {
                route: {
                    type: Object,
                    notify: true
                },
                queryParams: {
                    type: Object,
                    computed: '_computeParams(_searchQuery)'
                },
                _modeRouteData: {
                    type: Object
                },
                _partyRouteData: {
                    type: Object
                },
                _searchQuery: {
                    type: String,
                    value: () => ''
                }
            };
        }

        static get observers() {
            return [
                '_partyIdChanged(_partyRouteData.partyId)'
            ];
        }

        _partyIdChanged(partyId) {
            this.set('state.partyId', partyId);
        }

        _computeParams(searchQuery) {
            return !searchQuery ? {} : { q: searchQuery };
        }
    }

    customElements.define(QueueView.is, QueueView);
</script>
