<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../common/behavior-app-state.html">
<link rel="import" href="../common/shared-styles.html">
<link rel="import" href="view-home.html">

<dom-module id="view-join">
    <template>
        <style include="shared-styles"></style>
        <style>
            :root {
                --paper-input-container-input: {
                    font-size: 24px;
                }

                --paper-input-container-label: {
                    font-size: 20px;
                }
            }

            paper-input {
                margin-bottom: 20px;
            }

            paper-icon-button {
                position: absolute;
                top: 20px;
                left: 15px;
                width: 50px;
                height: 50px;
            }
        </style>

        <view-home>
            <!-- Navigation for Cordova Builds -->
            <template is="dom-if" if="[[state.isHost]]">
                <paper-icon-button icon="arrow-back" on-tap="_tapBack"></paper-icon-button>
            </template>

            <paper-input label="Party ID"
                         value="{{joinInput}}"
                         type="tel"
                         auto-validate="true"
                         allowed-pattern="[0-9]+"
                         required="true"
                         invalid="{{inputInvalid}}">
            </paper-input>
            <paper-button raised
                          disabled="[[inputInvalid]]"
                          on-tap="_tapJoinParty">
                Join Party
            </paper-button>
        </view-home>
    </template>
    <script>
        Polymer({
            is: 'view-join',

            behaviors: [FestifyBehaviors.StateBehavior],

            properties: {
                inputInvalid: {
                    type: Boolean,
                    value: true
                },
                joinInput: {
                    type: String
                },
                route: {
                    type: Object,
                    notify: true
                }
            },

            listeners: {
                'keypress': '_keypress'
            },

            _keypress: function (ev) {
                if (ev.which == 13) {
                    this._tapJoinParty();
                }
            },

            _tapBack: function() {
                this.set('route.path', '/host');
            },

            _tapJoinParty: function () {
                if (!this.inputInvalid) {
                    this.fire('join-openParty', { shortId: this.joinInput });
                }
            }
        });
    </script>
</dom-module>
