<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/oauth-authorizator/oauth-receiver.html">
<link rel="import" href="view-home.html">

<dom-module id="view-receive-oauth">
    <template>
        <oauth-receiver></oauth-receiver>
        <view-home></view-home>
    </template>
</dom-module>

<script>
    class AuthReceiveView extends Polymer.Element {
        static get is() {
            return 'view-receive-oauth';
        }

        static get properties() {
            return {};
        }
    }

    customElements.define(AuthReceiveView.is, AuthReceiveView);
</script>
