<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-document.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../common/shared-styles.html">
<link rel="import" href="../behavior-app-state.html">

<dom-module id="view-track">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                display: flex;
                flex-direction: row;
                align-items: center;

                height: 60px;
                padding: 5px;

                box-sizing: content-box;
            }

            img {
                margin: 5px 15px 5px 5px;
                height: 50px;
            }

            .metadata-wrapper {
                overflow: hidden;
            }

            h2 {
                margin: 0;
                font-weight: 400;
                font-size: 18px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            aside {
                margin: 2px 0;
                font-weight: 300;
                font-size: 16px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .icon-wrapper {
                margin-left: auto;
                flex-basis: 50px;
            }

            paper-icon-button {
                margin-left: 5px;
                height: 50px;
                width: 50px;
            }
        </style>

        <firebase-document path="[[_getFirebaseVotesPath(state, track)]]" data="{{_hasVoted}}"></firebase-document>

        <img src="[[_getCoverImage(track)]]">
        <div class="metadata-wrapper">
            <h2>[[track.name]]</h2>
            <aside>
                <template is="dom-if" if="[[track.artists]]">
                    <a>[[_joinArtistNames(track.artists)]]</a>
                </template>
                <template is="dom-if" if="[[track.vote_count]]">
                    <span>·</span>
                    <span>[[track.vote_count]] Votes</span>
                </template>
            </aside>
        </div>
        <div class="icon-wrapper">
            <paper-icon-button icon="[[_getLikeButtonIcon(track, _hasVoted)]]" on-tap="_tapLikeIcon"></paper-icon-button>
        </div>
    </template>
    <script>
        Polymer({
            is: 'view-track',

            behaviors: [FestifyBehaviors.StateBehavior],

            properties: {
                _hasVoted: {
                    type: Object
                },
                track: {
                    type: Object
                }
            },

            _getCoverImage: function (track) {
                return "http://lorempixel.com/64/64";
            },

            _getFirebaseVotesPath: function (state, track) {
                var partyId = state.partyId;
                return partyId && partyId.length > 0 && track ?
                    '/votes/' + partyId + '/' + track.$key + '/' + state.auth.authedUser.uid :
                    '';
            },

            _getLikeButtonIcon: function (track, hasVoted) {
                return track.played_at ?
                        'av:play-arrow' :
                        hasVoted ?
                            'favorite' :
                            true || track.is_fallback ?
                                'favorite-border' :
                                'add';
            },

            _joinArtistNames: function (artists) {
                var first = artists.pop();
                return first + (artists.length > 0 ?
                                    " feat. " + artists.join(', ') :
                                    '');
            },

            _tapLikeIcon: function () {
                this.debounce('tapLikeIcon', function () {
                    this.fire('track-toggleVote', { track: this.track });
                }, 50);
            }
        });
    </script>
</dom-module>
