<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<dom-module id="view-queue">
    <template>
        <app-route active="{{_partyRouteActive}}"
                   data="{{_partyRouteData}}"
                   pattern="/:partyId"
                   route="{{route}}"
                   tail="{{subroute}}"
                   query-params="{{queryParams}}">
        </app-route>
        <app-route route="{{subroute}}"
                   pattern="/:mode"
                   data="{{_modeRouteData}}">
        </app-route>

        <iron-lazy-pages selected="[[_modeRouteData.mode]]"
                         attr-for-selected="view"
                         fallback-selection="party">
            <view-party view="party"
                        data-path="view-party.html"
                        state="{{state}}"
                        search-query="{{_searchQuery}}"
                        route="{{subroute}}">
            </view-party>
            <view-tv view="tv"
                     data-path="view-tv.html"
                     state="{{state}}">
            </view-tv>
        </iron-lazy-pages>
    </template>
</dom-module>

<script>
    class QueueView extends Polymer.Element {
        static get is() {
            return 'view-queue';
        }

        static get properties() {
            return {
                route: {
                    type: Object,
                    notify: true
                },
                queryParams: {
                    type: Object,
                    computed: '_computeParams(_searchQuery)'
                },
                state: {
                    type: Object,
                    notify: true
                },
                _modeRouteData: {
                    type: Object
                },
                _partyRouteActive: {
                    type: Boolean
                },
                _partyRouteData: {
                    type: Object
                },
                _searchQuery: {
                    type: String,
                    value: () => ''
                }
            };
        }

        static get observers() {
            return [
                '_partyIdChanged(_partyRouteData.partyId, _partyRouteActive)'
            ];
        }

        _partyIdChanged(partyId, isRouteActive) {
            this.set('state.partyId', isRouteActive ? partyId : null);
        }

        _computeParams(searchQuery) {
            return !searchQuery ? {} : { q: searchQuery };
        }
    }

    customElements.define(QueueView.is, QueueView);
</script>
