@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

body {
  background-color: #1c1f24;
  font-family: 'Roboto', 'Noto', sans-serif;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
